body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: darkgrey;
}

*[contenteditable]:empty::before {
    content: attr(data-placeholder);
    display: inline-block;
    color: #9c9494;
}

.page {
    width: 100%;
    min-height: -webkit-fill-available;
    max-width: 210mm;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    background-color: white;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
}

.character {
    text-align: center;
    text-transform: uppercase;
}

.sound {
    text-transform: uppercase;
    text-decoration: underline;
}


@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}